@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #fbbf24;
  --secondary: #f3f4f6;
  --background: #ffffff;
  --foreground: #000000;
  --section: #fffbeb;
  --inactive: #6b7280;
  --tabIndicator: #000000;
  --subtitle: #374151;
  --danger: #ef4444;
  --skeleton: #f3f4f6;
}
